<h2>User Created Events</h2>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Place</th>
    <th>Event Time</th>
    <th>Register</th>
  </tr>
  <% @events.each do |e| %>
    <tr>
      <td>
        <%= e.event_name %>
      </td>
      <td>
        <%= e.event_place %>
      </td>
      <td>
        <%= e.event_date %>
      </td>
      <td>
        <%= e.event_date %>
      </td>
    </tr>
  <% end %>
</table>
<h2>Registered Events</h2>
<% if current_user.events.past.empty? && current_user.events.upcomming.empty?%>
<p>No Registered Events Found</p>
<% end %>
<% if !(current_user.events.past.empty?) %>
  <h3>Previously Attended Events</h3>
  <table>
    <tr>
      <th>Event Name</th>
      <th>Event Place</th>
      <th>Event Time</th>
    </tr>
    <% current_user.events.past.each do |e| %>
        <tr>
          <td>
            <%= e.event_name %>
          </td>
          <td>
            <%= e.event_place %>
          </td>
          <td>
            <%= e.event_date %>
          </td>
        </tr>
    <% end %>
  </table>
<% end %>
<% if !(current_user.events.upcomming.empty?) %>
<h3>Upcoming Attended Events</h3>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Place</th>
    <th>Event Time</th>
  </tr>
  <% current_user.events.upcomming.each do |e| %>
      <tr>
        <td>
          <%= e.event_name %>
        </td>
        <td>
          <%= e.event_place %>
        </td>
        <td>
          <%= e.event_date %>
        </td>
      </tr>
    
  <% end %>
</table>
<% end %>

