<h2>User Created Events</h2>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Place</th>
    <th>Event Time</th>
    <th>Register</th>
  </tr>
  <% @events.each do |e| %>
    <tr>
      <td>
        <%= e.event_name %>
      </td>
      <td>
        <%= e.event_place %>
      </td>
      <td>
        <%= e.event_date %>
      </td>
      <td>
        <%= e.event_date %>
      </td>
    </tr>
  <% end %>
</table>
<h2>Registered Events</h2>
<h3>Previously Attended Events</h3>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Place</th>
    <th>Event Time</th>
  </tr>
  <% current_user.events.each do |e| %>
    <% if e.event_date < Time.now%>
      <% if e.nil? %>
      <h4>No Events Found</h4>
      <% end %>
      <tr>
        <td>
          <%= e.event_name %>
        </td>
        <td>
          <%= e.event_place %>
        </td>
        <td>
          <%= e.event_date %>
        </td>
      </tr>
    <% end%>
  <% end %>
</table>

<h3>Upcoming Attended Events</h3>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event Place</th>
    <th>Event Time</th>
  </tr>
  <% current_user.events.each do |e| %>
    <% if e.event_date > Time.now%>
      <tr>
        <td>
          <%= e.event_name %>
        </td>
        <td>
          <%= e.event_place %>
        </td>
        <td>
          <%= e.event_date %>
        </td>
      </tr>
    <% end%>
  <% end %>
</table>

