<div class="hero-bg past-upcomming index-p">
    <% if @events.past.empty? && @events.upcomming.empty? %>
    <p>No Events Found</p>
    <% else %>
    <% if !(@events.past.empty?) %>
        <h2>Past Events</h2>
        <table class="table table-hover">
        <tr>
        <th>Event Name</th>
        <th>Event Place</th>
        <th>Event Date</th>
        <th>Details</th>
        </tr>
        <% @events.past.each do |e|%>
        <tr>
        <td><%= e.event_name %></td>
        <td><%= e.event_place %></td>
        <td><%= e.event_date %></td>
        <td class="det"><%= link_to 'Details', event_path(e.id) %></td>
        </tr>
        <%end%>

        </table>
    <% end %>
    <% if !(@events.upcomming.empty?) %>
        <h2>Upcomming Events</h2>
        <table class="table table-hover text-white">
        <tr>
        <th>Event Name</th>
        <th>Event Place</th>
        <th>Event Date</th>
        <th>Details</th>
        </tr>
        <% @events.upcomming.each do |e|%>
        <tr>
        <td><%= e.event_name %></td>
        <td><%= e.event_place %></td>
        <td><%= e.event_date %></td>
        <td class="det"><%= link_to 'Details', event_path(e.id) %></td>
        </tr>
        <%end%>
        </table>
        <% end %>
    <% end %>
</div>