<div class="hero-bg past-upcomming">
<h2>Event Details</h2>
<table class="table table-hover">
    <tr>
        <th>Event Name</th>
        <th>Event Place</th>
        <th>Event Date</th>
        <th>Event Poster</th>
    </tr>
    <tr>
        <td class="mt-5"><%= @event.event_name %></td>
        <td class="mt-3"><%= @event.event_place %></td>
        <td class="mt-3"><%= @event.event_date %></td>
        <td><%= image_tag(url_for(@event.event_image)) %></td>
    </tr>
</table>
<br>

<br>

<br>

<%= button_to 'Rigester', register_event_path(@event.id), methd: :post %>
<h2>Creator</h2>
<%= image_tag(url_for(@event.creator.avatar)) %>
<br>
<%= @event.creator.first_name %>
<br>
<%= @event.creator.last_name %>
<br>
<%= @event.creator.email %>
<br>
<%= @event.creator.username %>
<h2>Event Attendees</h2>
<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
</tr>
<% @event.attendees.each do |e|%>
<tr>
<td><%= e.first_name %></td>
<td><%= e.last_name %></td>
<td><%= e.email %></td>
</tr>
<%end%>

</table>
</div>