<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>Sign Up</h2>
    <%= form_for @user do |f| %>
      <%= form_group_for f, :username, label: false  do %>
        <div class="input-group">
          User Name: <%= f.text_field :username, class: 'form-control', placeholder: 'UserName' %>
        </div>
      <% end %>
      <%= form_group_for f, :firstname, label: false  do %>
        <div class="input-group">
          First Name: <%= f.text_field :firstname, class: 'form-control', placeholder: 'first name' %>
        </div>
      <% end %>
      <%= form_group_for f, :lastname, label: false  do %>
        <div class="input-group">
          Last Name: <%= f.text_field :lastname, class: 'form-control', placeholder: 'last name' %>
        </div>
      <% end %>
      <%= form_group_for f, :email, label: false  do %>
        <div class="input-group">
          Email    : <%= f.text_field :email, class: 'form-control', placeholder: 'example@email.com' %>
        </div>
      <% end %>                  
      <%= f.submit("Create User", class:"btn btn-primary", data: {:confirm => msg('Do you want to create user?'), :disable_with => 'Creating'}) %>
    <% end %>
  </div>    
</div>